*{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/*index*/
.bg-menu{
    background-image: url(./assets/1843912.jpg);
    background-size:cover;
    background-position:initial;
    
}
.menu{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(165, 165, 165,0.5);
    color: #b9ad06;
    margin: 20px;
    align-items: center;
    text-transform: uppercase;    
}

.menu-itens{
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    
    
}

.menu-itens :hover{
    color: #b9ad06;
    
}
.menu-itens a{
    text-decoration: none;
}

.menu-item{
    margin: 10px;
    padding: 10px;
    color: #ccc;
    font-size: 13px;
}

.logo{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}

.banner-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 50px;
    margin-top: 60px;
}

.banner-text h1{
    color: #b9ad06;
}

.banner-text h2{
    color: #ccc;
}


/* login e sign up*/

#login,
#sign-up{
    background-image: url(./assets/1843912.jpg);
    background-size:cover;
    background-position:initial;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.login-area{
    border: 1px solid #fff000;
    border-radius: 10px;
    width: 300px;
    height: 600px;
    background-color: rgba(0,0,0,0.4);
}

.login {
    font-size: 10px;
    text-transform: uppercase;
    color: #fff000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.login h1{
    color: #fff000;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.login input{
    background: transparent;
    border-radius: 5px;
    color: #ccc;
    
    
}


.login .forgot-area{
    font-size: 8px;
    margin-top: 5px;
    text-align: end;
}


.login a{
   text-decoration: none;
   color: #fff;

}

.login a:hover{
    border-bottom: 1px solid #fff;
 
}

.login .button-area{
    text-align: center;
}

.login .button{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 20px;
    background-color: rgb(0, 0, 0);
    
}

.login .sign-area{
    text-align: center;
    font-size: 14px;
}

/* cardapio*/

.container-cardapio{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    margin: 20px 50px;
    
}

/* Bebidas */


.container-bebidas{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    height: 100vh;
    margin: 20px 50px;
    
}

/* footer img*/
.footer-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@keyframes arrow{
    0% {
        margin-top: 0px;
    }
    50%{
        margin-top: 15px
    }
    100%{
        margin-top:0px;
    }
}

.arrow-area{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 30px;
}
.footer-arrow {
    height: 15px;
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

footer .button{
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    padding: 15px;
    margin-top: 20px;
    background-color: rgba(0,0,0,0.8);
    color: #ccc;
    font-size: 30px;
    border-width: 0px;
    border-style: none;
    border-color: none;
    border-image: none;
}